<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>HRD | Portofolio</title>
        <link href="https://fonts.googleapis.com/css?family=Charmonman|Nunito+Sans&display=swap" rel="stylesheet">
        {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
         <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}" />
         <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
        <script src="{% static 'js/home_app.js' %}"></script>
    </head>

    <body>
        <!-- Loading animation -->
        <div class="page-loading">
           <div class="anim-box1"></div>
           <div class="anim-box2"></div>
           <div class="anim-box3"></div>
        </div>
        
        <!-- Main page content -->
        <div class="main">
            <div class="background">
                <div class="over-lay"></div>

                <div class="content">
                    <nav class="nav">
                        <div class="logo">
                            <a href="/">HRD</a>
                        </div>
                        <ul class="toggle-sidebar menu">
                            <li id="home" class="menuitem">HOME</li>
                            <li id="about" class="menuitem">ABOUT</li>
                            <li id="services" class="menuitem">SERVICES</li>
                            <li id="portfolio" class="menuitem">PORFOLIO</li>
                            <li id="contact" class="menuitem">CONTACT</li>
                        </ul>

                        <div class="burger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </nav>

                    <div class="center-div">
                        <h2>Hello, I'm Raynard Dodzi</h2>
                        <h1>Skills: <span class="typewrite"></span> </h1>
                        
                        <button id="contact-me-btn" class="btn btn-danger">Contact Me</button>
                    </div>
                </div>
            </div>

            <!-- About -->
            <div class="about row">
                <div id="info" class="col-md-4">
                    <h1 class="right-align">H. Raynard Dodzi</h1>
                    <h3 class="right-align">FULL-STACK DEVELOPER</h3>
                    <h4 class="right-align">I am a Full Stack Python-Django and Javascript Developer.
                    I have knowledge in Python, Java, C & C++, html, css, JavaScript, React, Sass, Git & Github, MySQL</h4>
                    <h4>I use nginx and ubuntu on the server.</h4>

                   <a href="/media/resume2.pdf" style="text-decoration: none;">
                    <button class="outline-btn right-align">
                        Download CV <span class="fa fa-download"></span>
                    </button>
                    </a> 
                </div>
                <div id="profile-image" class="col-md-3">
                    <img src="/media/pic.jpg" alt="" class="my-pic">
                </div>

                <div class="col-md-4">
                    <h3>My Skills</h3>
                    <div class="skills">
                        <div class="skill-item">
                            <div class="title">
                                <h4 class="skill">Python-Django
                                    <span class="percentage">95%</span></h4>
                            </div>
                            <div class="python-skill-level level-bar"></div>
                            <div class="skill-level"></div>                                                                                                    
                        </div>

                        <div class="skill-item">
                            <div class="title">
                                <h4 class="skill">C/C++
                                    <span class="percentage">60%</span></h4>
                            </div>
                            <div class="c-skill-level level-bar"></div>
                            <div class="skill-level"></div>
                        </div>

                        <div class="skill-item">
                            <div class="title">
                                <h4 class="skill">Java
                                    <span class="percentage">75%</span></h4>
                            </div>
                            <div class="java-skill-level level-bar"></div>
                            <div class="skill-level"></div>
                        </div>

                        <div class="skill-item">
                             <div class="title">
                                <h4 class="skill">JavaScript
                                    <span class="percentage">75%</span></h4>
                            </div>
                            <div class="javascript-skill-level level-bar"></div>
                            <div class="skill-level"></div>
                        </div>

                        <div class="skill-item">
                            <div class="title">
                            <h4 class="skill">HTML/CSS
                                <span class="percentage">98%</span></h4>
                            </div>
                            <div class="html-skill-level level-bar"></div>
                            <div class="skill-level"></div>
                        </div>                        
                    </div>
                </div>
            </div>

            <!-- Services -->
            <div class="services">
                <h3 class='section-header'>WH<span class="doublerec">AT I OFF</span>ER</h3>
                <div class="row">
                    <div class="service col-md-3">
                        <span class="service-icon fa fa-code"></span>
                        <h3>Web Development</h3> 
                        <h4>I design and develop scalable and modern
                            websites and web-applications using python-django and javascript.
                        </h4>
                    </div>
                    <div class="service col-md-3">
                        <span class="service-icon fa fa-mobile"></span>
                        <h3>Android Development</h3>
                        <h4>As Android is the most popular mobile OS, I develop android apps to help business
                            and individuals.
                        </h4>
                    </div>
                    <div class="service col-md-3">
                        <span class="service-icon fa fa-edit"></span>
                        <h3>Graphic Design</h3>
                        <h4>I also incorporate graphic design into my works using Adobe Photoshop and Adobe XD for protyping</h4>
                    </div>

                    <div class="service col-md-3">
                        <span class="service-icon fa fa-tasks"></span>
                        <h3>MS Office Suit</h3>
                        <h4>I am also well vest with the use of Microsoft Office Tools like Ms Word, Excel, Powerpoint and Publisher </h4>
                    </div>
                </div>
            </div>

            <!-- Portofolio -->
            <div class="portfolio">
                <h3 class='section-header'>WH<span class="doublerec">AT I'M DOI</span>NG</h3>

                <div class="projects row">
                    <a target="_blank"  href="https://github.com/dodziraynard/idealms.git">
                        <div class="col-md-3 project">
                            <h3>Learning Management System</h3>
                            <div class="project-image">
                                <img src="/media/sms.png">
                                <h4>This is an online Learning management system 
                                    project that I built with python-django stack.
                                </h4>
                            </div>
                        </div>
                    </a>

                    <a target="_blank" href="https://github.com/dodziraynard/PhoneticsMaster.git">
                        <div class="col-md-3 project">
                            <h3>Phonetic Master</h3>
                            <div class="project-image-p">
                                <img src="/media/pm.png">
                                <h4>A very simple android app that helps students learn British English sounds</h4>
                            </div>                                                              
                        </div>
                    </a>

                    <a target="_blank" href="https://github.com/dodziraynard/church_app.git">
                        <div class="col-md-3 project">
                            <h3>Church App</h3>
                            <div class="project-image-p">
                                <img src="/media/church.png">
                                <h4>An android application for churches</h4>
                            </div>                                                              
                        </div>
                    </a>
                </div>
            </div>

            <!-- Contact -->
            <div class="contacts">
                <h3 class='section-header'>C<span class="doublerec">ONTAC</span>T</h3>
                <div class="row">
                    <div class="card col-md-3">
                        <h2><span class="fa fa-phone themed-text "></span></h2>
                        <h4>PHONE:</h4>
                        <h5>(+233)249 626 071</h5>
                    </div>

                    <div class="card col-md-4">
                        <h2><span class="fa  fa-envelope themed-text"></span></h2>
                        <h4>EMAIL:</h4>
                        <h5>dodzireynard@gmail.com</h5>
                    </div>

                    <div class="card col-md-3">
                        <h2><span class="fa  fa-envelope themed-text"></span></h2>
                        <h4>SOCIAL MEDIA:</h4>
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-sm-4"><a target="_blank" href="https://www.linkedin.com/in/raynard-helegah-a46a17169/" class="fa fa-linkedin"></a></div>
                            <div class="col-md-4 col-xs-4 col-sm-4"><a target="_blank" href="https://web.facebook.com/raynard.dodzi/" class="fa fa-facebook"></a></div>
                            <div class="col-md-4 col-xs-4 col-sm-4"><a target="_blank" href="https://github.com/dodziraynard" class="fa fa-github"></a></div>
                        </div>
                    </div>
                </div>

                <div class="message">
                    <form action="{% url 'home:message' %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="user-id">
                            <input type="text"  name="name" required class="custom-input" placeholder="Full Name *">
                            <input type="email" name="email" required class="custom-input" placeholder="Email Address *">
                        </div>

                        <textarea class="form from-control" name="message" id="" cols="30" rows="10" placeholder="Your message *"
                        required></textarea>
                        <button type="submit" class="btn btn-danger">SEND MESSAGE</button>
                    </form>
                </div>
            </div>

            <footer class="footer">
                <p>2019 &copy All Right Reserved By HRD 😀❤️</p>
            </footer>
        </div>


        {% load static %}
        <script defer src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
        <script defer src="{% static 'js/particles.js' %}"></script>
        <script defer src="{% static 'js/particles.min.js' %}"></script>
    </body>
</html>