$red : #ff3547;

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    user-select: none;
    font-family: 'Nunito',sans-serif;
}
body{
    margin:0;
    padding:0;
}
.row{
     padding:0;
     margin: 0;
}
.btn{
    border-radius: 5px;
    font-size: 1.05em;
}


// toggle button
.burger{
    visibility: hidden;
}
// Custom scroll bar
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb{
    background: rgb(184, 184, 184);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: $red;
}

//Animation
.page-loading{
    position:fixed;
    height: 100px;
    justify-content: center;
    left: 40%;
    transform: translateX(40%);
    top: 50%;
    display: flex;

    [class*="anim-box"] {
        height: 20px;
        width: 20px;
        margin: 5px;
        animation: .5s loading;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }
}

@keyframes loading{
    from{
        background:red;
        border-radius: 50%;
        width: 0px;
        height:0;
    }
    to{
        background: rgb(255, 0, 170);
         border-radius: 50%;
         width: 20px;
         height: 20px;
    }
}

// Typing effect
.typewrite::after {
    content: "";
    border-right: 3px solid white;
    width: 1px;
    height: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//Main page
.main {
    visibility: hidden;

    .background{
        background: no-repeat url("images/background.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;

        .content {
            position: absolute;
        }
        .over-lay{
            height: 100vh;
            width: 100%;
            position: absolute;
            top:0;
            background:rgba(0, 0, 0, .5);
        }
    }
}

.nav {
    color: rgb(240, 240, 240);   
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 99.3vw;
    position: fixed;
    z-index: 5;
    background: rgba(107, 104, 104, 0);
    transition: 0.5 all ease-in-out;

    .logo{
        a{
            font-family: 'Charmonman', cursive;
            font-weight: 600;
            margin-right: 100px;
            font-size: 1.3em;
            margin-left: 20px;
            text-decoration: none;
            color: white;
        }
    }

    .menu{
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 50px;
        
        .menuitem{
            margin-left: 50px;
            font-weight: 600;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .menuitem:hover{
            color: $red;
            cursor: pointer;
        }
    }
}

.nav-fixed{
    background: white;
    box-shadow: 2px 0px 5px gray;
    color: rgb(32, 32, 32) !important;
    font-weight: 600;

    .logo {
        a{
            color: $red !important;
        }
       
    }
     .menuitem:hover {
         color: $red !important;
         cursor: pointer;
         border-top: 2px solid $red;
         border-bottom: 2px solid $red;
     }
}

.center-div{
    position: absolute;
    color: rgb(240,240,240);
    text-align: center;
    width:95vw;
    top:100%;
    transform: translateY(100%); 
    justify-content: center;

    #contact-me-btn{
        margin-top: 100px;
        font-size: 1.2em;
        border-radius: 5px;
    }
}

.right-align{
    text-align: right;
    line-height: 1.5em;
}
.outline-btn{
    border: 2px solid $red;
    border-radius: 5px;
    padding: 5px;
    background: white;
    position: absolute;
    right:15px;
    transition: .5s all ease-in-out;
    font-weight: 400;
}

.outline-btn:hover {
    background: $red;
    color: white;
}
.about{
    min-height: 100vh;
    padding: 100px 30px; 
    
    .info{
        margin-bottom: 30px;
    }

    .my-pic {
        width: 90%;
        margin: 10px;
    }

    .skill-item{
        padding-top: 10px;
    }
    .skills {
        width: 80%;
        .percentage{
            position: absolute;
            right:20%;
        }
        .skill-level {
            height: 5px;
            width: 100%;
            background: rgb(200, 200, 200);
        }

        .level-bar{
            background: gray;
            border-radius: 5px;
             position: absolute;
             height: 5px;
        }
        
        .python-skill-level {
            width: 60%;
        }
        .java-skill-level {
            width: 47%;
        }
        .javascript-skill-level {
            width: 50%;
        }

        .html-skill-level {
            width: 70%;
        }
    }

    #info{
        margin: 5px;
    }
}

.section-header{
    text-align: center;
    .doublerec{
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 2px solid $red;
        border-bottom: 2px solid $red;
    }
}
.services{
    min-height: 80vh;
    background: rgb(240, 240, 240);
    padding: 30px;
    justify-content: center;
    text-align: center;

    .service{
        padding: 5px;
        transition: .5s all ease-in-out;
    }
    .service:hover{
        span, h3{
            color: $red;
        }
        span{
            animation: 1s rot;
        }
    }
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    from {
       transform: rotate(20deg);
    }
}
.service-icon{
    padding: 20px;
    border-radius: 50%;
    font-size: 3em;

}

.portfolio {
    margin-top: 100px;
    margin-bottom: 50px;
    .projects{
        justify-content: center;
        text-align: center;
    }

    .project{
        text-align: center;
        margin: 30px;
        border: 1px solid gray;
    }

    .project-image{
        img{
            width: 100%;
            margin-top: -10px;
        }
    }
    .project-image-p{
        img{
             width: 60%;
        }
    }
}
.themed-text{
    color: $red;
}
.card{
    box-shadow: 2px 2px 30px rgb(200, 200, 200);
    margin:10px;
    text-align: center;
}
.contacts{
    height: auto;
    margin: auto;
    width: 70%;
}

.message{
    width: 100%;
    box-shadow: 2px 2px 30px rgb(200, 200, 200);
    padding: 30px;
    margin:30px auto;
    border-radius: 2px;

    .user-id{
        margin-bottom: 20px;
        width: 100%;
    }
    .custom-input{
        background: white;
        padding: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid gray;
        transition: .5s all ease-in-out;
        width: 45%;
        margin: 5px;
    }

     .custom-input:focus {
         outline: none;
         border-bottom: none;
         box-shadow: 1px 1px 3px rgb(255, 203, 203);
         margin-left: 10px;
     }

     textarea{
         width: 95%;
         margin: 20px auto;
         padding: 10px;
     }
}

.footer{
   text-align: center;
   margin: auto;
   width: 100%;
   padding: 20px;
   background: gray;
}

// Mobile
@media only screen and (max-width: 800px) {
    .burger{
        visibility: visible;
        position: absolute;
        right: 10px;
        padding: 5px;
        
        [class*="line"]{
            height: 6px;
            width: 30px;
            background: rgb(224, 223, 223);
            margin: 3px;
        }
        .line1{
             width: 25px;
        }
        .line2 {
            width: 30px;
        }
        .line3 {
            width: 35px;
        }
    }

    .nav{
       .menu {
           display: block;
           list-style-type: none;
           position: absolute;
           right: -1px;
           background: rgba(1, 1, 1, 0.9);
           color: white;
           top: 10vh;
           width: 80%;
           padding-top: 30px;
           height: 100vh;
           letter-spacing: 1em;
           font-size: 1.1em;
            box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.9);
            transition: .5s all ease-in-out;
            overflow: hidden;

           .menuitem {
               margin: 20px 50px;
               font-weight: 600;
               padding-top: 8px;
               padding-bottom: 8px;
               text-align: center;
           }

           .menuitem:hover {
               color: $red;
               cursor: pointer;
           }
       }
    }

    .toggle-sidebar {
        height: 0 !important;
        padding-top: 0px !important;
    }

    .custom-input,
    .custom-input:focus{
        width: 100%;
    }

    #profile-image {
        margin-top: 50px;
    }
}  

// Smooth scrolling effect
.smooth-transition-hide {
    opacity: 0;
    transition: 1s all ease-in-out;
    transform: translateY(50px);
}

.smooth-appear {
    opacity: 1;
    transform: translateY(0px);
    transform: translateY(0px);
}