* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Nunito',sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.btn {
  border-radius: 5px;
  font-size: 1.05em;
}

.burger {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff3547;
}

.page-loading {
  position: fixed;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 40%;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-loading [class*="anim-box"] {
  height: 20px;
  width: 20px;
  margin: 5px;
  -webkit-animation: .5s loading;
          animation: .5s loading;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  from {
    background: red;
    border-radius: 50%;
    width: 0px;
    height: 0;
  }
  to {
    background: #ff00aa;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

@keyframes loading {
  from {
    background: red;
    border-radius: 50%;
    width: 0px;
    height: 0;
  }
  to {
    background: #ff00aa;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.typewrite::after {
  content: "";
  border-right: 3px solid white;
  width: 1px;
  height: 20px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  visibility: hidden;
}

.main .background {
  background: no-repeat url("images/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main .background .content {
  position: absolute;
}

.main .background .over-lay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.nav {
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 99.3vw;
  position: fixed;
  z-index: 5;
  background: rgba(107, 104, 104, 0);
  -webkit-transition: 0.5 all ease-in-out;
  transition: 0.5 all ease-in-out;
}

.nav .logo a {
  font-family: 'Charmonman', cursive;
  font-weight: 600;
  margin-right: 100px;
  font-size: 1.3em;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 50px;
}

.nav .menu .menuitem {
  margin-left: 50px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav .menu .menuitem:hover {
  color: #ff3547;
  cursor: pointer;
  margin-top: 10px;
}

.nav-fixed {
  background: white;
  -webkit-box-shadow: 2px 0px 5px gray;
          box-shadow: 2px 0px 5px gray;
  color: #202020 !important;
  font-weight: 600;
}

.nav-fixed .logo a {
  color: #ff3547 !important;
}

.nav-fixed .menuitem:hover {
  color: #ff3547 !important;
  cursor: pointer;
  border-top: 2px solid #ff3547;
  border-bottom: 2px solid #ff3547;
}

.center-div {
  position: absolute;
  color: #f0f0f0;
  text-align: center;
  width: 95vw;
  top: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-div #contact-me-btn {
  margin-top: 100px;
  font-size: 1.2em;
  border-radius: 5px;
}

.right-align {
  text-align: right;
  line-height: 1.5em;
}

.outline-btn {
  border: 2px solid #ff3547;
  border-radius: 5px;
  padding: 5px;
  background: white;
  position: absolute;
  right: 15px;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  font-weight: 400;
}

.outline-btn:hover {
  background: #ff3547;
  color: white;
}

.about {
  min-height: 90vh;
  padding: 100px 30px;
}

.about .info {
  margin-bottom: 30px;
}

.about .my-pic {
  width: 90%;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
}

.about .skill-item {
  padding-top: 10px;
}

.about .skills {
  width: 80%;
}

.about .skills .percentage {
  position: absolute;
  right: 20%;
}

.about .skills .skill-level {
  height: 5px;
  width: 100%;
  background: #c8c8c8;
}

.about .skills .level-bar {
  background: #ff3547;
  border-radius: 5px;
  position: absolute;
  height: 5px;
}

.about .skills [class*="-skill-level"] {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 0px;
}

.about .skills .python-skill-level {
  width: 60%;
}

.about .skills .c-skill-level {
  width: 50%;
}

.about .skills .java-skill-level {
  width: 47%;
}

.about .skills .javascript-skill-level {
  width: 50%;
}

.about .skills .html-skill-level {
  width: 70%;
}

.about #info {
  margin: 5px;
}

.section-header {
  text-align: center;
}

.section-header .doublerec {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid #ff3547;
  border-bottom: 2px solid #ff3547;
}

.services {
  min-height: 80vh;
  background: #f0f0f0;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.services .service {
  padding: 5px;
}

.services .service h3 {
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.services .service:hover span, .services .service:hover h3 {
  color: #ff3547;
}

.services .service:hover span {
  -webkit-animation: 1s rot;
          animation: 1s rot;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

.service-icon {
  padding: 20px;
  border-radius: 50%;
  font-size: 3em;
}

.portfolio {
  margin-top: 100px;
  margin-bottom: 50px;
}

.portfolio .projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.portfolio .project {
  text-align: center;
  margin: 30px;
  border: 1px solid gray;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.portfolio .project:hover {
  -webkit-box-shadow: 10px 10px 50px #ffbebe;
          box-shadow: 10px 10px 50px #ffbebe;
}

.portfolio .project-image img {
  width: 100%;
  margin-top: -10px;
}

.portfolio .project-image-p img {
  width: 60%;
}

.themed-text {
  color: #ff3547;
}

.card {
  -webkit-box-shadow: 2px 2px 30px #c8c8c8;
          box-shadow: 2px 2px 30px #c8c8c8;
  margin: 10px;
  text-align: center;
}

.contacts {
  height: auto;
  margin: auto;
  width: 70%;
}

.message {
  width: 100%;
  -webkit-box-shadow: 2px 2px 30px #c8c8c8;
          box-shadow: 2px 2px 30px #c8c8c8;
  padding: 30px;
  margin: 30px auto;
  border-radius: 2px;
}

.message .user-id {
  margin-bottom: 20px;
  width: 100%;
}

.message .custom-input {
  background: white;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  width: 45%;
  margin: 5px;
}

.message .custom-input:focus {
  outline: none;
  border-bottom: none;
  -webkit-box-shadow: 1px 1px 3px #ffcbcb;
          box-shadow: 1px 1px 3px #ffcbcb;
  margin-left: 10px;
}

.message textarea {
  width: 95%;
  margin: 20px auto;
  padding: 10px;
}

.footer {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 20px;
  background: gray;
}

@media only screen and (max-width: 800px) {
  .burger {
    visibility: visible;
    position: absolute;
    right: 10px;
    padding: 5px;
  }
  .burger [class*="line"] {
    height: 6px;
    width: 30px;
    background: #e0dfdf;
    margin: 3px;
  }
  .burger .line1 {
    width: 25px;
  }
  .burger .line2 {
    width: 30px;
  }
  .burger .line3 {
    width: 35px;
  }
  .nav .menu {
    display: block;
    list-style-type: none;
    position: absolute;
    right: -1px;
    background: rgba(1, 1, 1, 0.9);
    color: white;
    top: 10vh;
    width: 80%;
    padding-top: 30px;
    height: 100vh;
    letter-spacing: 1em;
    font-size: 1.1em;
    -webkit-box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.9);
            box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.9);
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    overflow: hidden;
  }
  .nav .menu .menuitem {
    margin: 20px 50px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
  .nav .menu .menuitem:hover {
    color: #ff3547;
    cursor: pointer;
  }
  .toggle-sidebar {
    height: 0 !important;
    padding-top: 0px !important;
  }
  .custom-input,
  .custom-input:focus {
    width: 100%;
  }
  #profile-image {
    margin-top: 50px;
  }
}

.smooth-transition-hide {
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.smooth-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  transform: translateY(0px);
}
/*# sourceMappingURL=home_style.css.map */